name: Copilot Setup Steps

on: workflow_dispatch

jobs:
  copilot-setup-steps:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      checks: read
      statuses: write
      id-token: write
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install azsdk mcp server
        shell: pwsh
        run: |
          ./eng/common/mcp/azure-sdk-mcp.ps1 -InstallDirectory $HOME/bin
